body {
    margin: 0px;
    text-align: center;
    font-family: "Avenir Next";
}

h1 {
    margin: 50px auto 0 auto;
}

h1, h2, h3 {
    color: #3498db;
    font-size; 2.5rem;
    font-weight: normal;
}

.monitor {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.top {
    color: #3498db;
    font-size: 1.5rem;
    height: 100vh;
    padding: 60px;
    background: hsla(191, 92%, 51%, 1);
    background: linear-gradient(90deg, hsla(191, 92%, 51%, 1) 0%, hsla(329, 20%, 24%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(191, 92%, 51%, 1) 0%, hsla(329, 20%, 24%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(191, 92%, 51%, 1) 0%, hsla(329, 20%, 24%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#11CBF5", endColorstr="#4A313E", GradientType=1 );
}

.my-photo {
    border-radius: 50%;
    margin-top: 45px;
}

.intro {
    width: 52%;
    margin: auto;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    padding-bottom: 50px;
    padding-top: 30px;

}

.work_left-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.work_right-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.row {
    width: 52%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.work-txt {
    text-align: justify;
    text-justify: inter-word;
}

.bottom {
    padding: 50px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.end {
    color: #d8dbd7;
}